#addContact
{
    display: inline-block;
    width: 30%;
}

#contacts
{
    text-align: center;
}

#ContactNames
{
    width: 15%;
    display: inline-block;
}

#contactInfo
{
    display: inline-block;
    text-align: left;
    width: 30%;
}

#contactImg
{
    float:right;
    width: 120px;
    height: 120px;
}
/* Adding Contact Form */


legend
{
    font-size: 40px
}